@using MeetingCoordinator.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Log in to Meeting Coordinator";
}
<div class="row login-container column-seperation">
    <div class="col-md-4 col-md-push-4">
        <br>
        @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "login-form", role = "form"}))
        {
            <div class="row">
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            </div>
            <div class="row">
                <h2>
                    @ViewBag.Title
                </h2>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.Username, new {@class = "form-label"})
                    <div class="controls">
                        <div class="input-with-icon right">
                            <i class="fa fa-at"></i>
                            @Html.TextBoxFor(m => m.Username, new {@class = "form-control"})
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new {@class = "form-label"})
                    <span class="help"></span>
                    <div class="controls">
                        <div class="input-with-icon right">
                            <i class="fa fa-key"></i>
                            @Html.TextBoxFor(m => m.Password, new {@class = "form-control"})
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="control-group">
                    <div class="checkbox checkbox check-success">
                        @Html.CheckBoxFor(m => m.RememberMe, new {@class = "form-control"})
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary btn-cons pull-right" type="submit">Login</button>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/Scripts/js/login.js")
}