<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="@ViewBag.Description" name="description"/>
    <meta content="The Changlings" name="author"/>
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/bootstrap", "~/bundles/theme")
    @RenderSection("styles", required: false)
</head>
<body class="">
    <!-- BEGIN HEADER-->
    <div class="header navbar navbar-inverse">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="navbar-inner">
            @Html.Partial("_NavigationHeaderPartial")
            @Html.Partial("_ContentHeaderPartial")
        </div>
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN CONTENT -->
    <div class="page-container row-fluid">
        @Html.Partial("_SidebarPartial")
        <!-- BEGIN PAGE CONTAINER -->
        <div class="page-content">
            <div class="content">
                @Html.Partial("_CreateMeetingPartial")
                @RenderBody()
            </div>
        </div>
        <!-- END PAGE CONTAINER -->
    </div>
    <!-- END CONTENT-->
    @Scripts.Render("~/bundles/javascript")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function() {
            $('#schedule-meeting-sidebar').click(function (e) {
                var $meeting = $('#meeting-create');
                $meeting.find('input, textarea').each(function(index, element) {
                    $(element).val("");
                });
                $meeting.find('option').each(function(index, element) {
                    $(element).attr("selected", false);
                });
                $meeting.modal("show");
            });

            $('#save-new-meeting').click(function (e) {
                alert("Meeting created!");
                var meeting_id = $('.external-event').length + 1;
                $('#external-events').append('<div class="external-event">' +
                        '<span class="meeting" data-title="Meeting '+meeting_id+'" data-attendees="" data-id="'+meeting_id+'">Meeting '+meeting_id+'</span>' +
                        '<span class="delete-meeting pull-right"><i class="fa fa-times"></i></span>' +
                        '</div>');
                $('#meeting-create').modal('hide');
            });
        });
    </script>
</body>
</html>
